@font-face {
  font-family: 'BlenderProBook';
  src: url('../fonts/blenderpro-book-webfont.eot');
  src: url('../fonts/blenderpro-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/blenderpro-book-webfont.woff') format('woff'), url('../fonts/blenderpro-book-webfont.ttf') format('ttf') ;
}
@font-face {
  font-family: 'BlenderProBold';
  src: url('../fonts/blenderpro-bold-webfont.eot');
  src: url('../fonts/blenderpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/blenderpro-bold-webfont.woff') format('woff') ;
}
@font-face {
  font-family: 'Norwester';
  src: url('../fonts/norwester-webfont.eot');
  src: url('../fonts/norwester-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/norwester-webfont.woff') format('woff'), url('../fonts/norwester-webfont.woff2') format('woff2'), url('../fonts/norwester-webfont.ttf') format('ttf'), url('../fonts/norwester-webfont.svg') format('svg') ;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html, body {height:100%;}
body {
  color: #666666;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.btn {border-radius: 0;}
.btn.focus, .btn:focus, .btn:hover {
    color: #ffffff;
    text-decoration: none;
    background: #666666;
    border: 1px solid transparent;
}
.btn-primary, .btn-primary:visited {
    background-color: #ff2c2c;
    border-color: #ff2c2c;
    font-size: 14px;
    padding: 15px 35px;
    text-transform: uppercase;
    transition: ease-in-out all .2s;
}
.btn-primary:hover {background-color: #ff5858;border-color:#ff5858;text-shadow: 2px 2px 0px #de1e1e;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {background-color: #de1e1e;border-color:#de1e1e;}
.btn-fade {
    width: 100%;
    background: #ff2c2c;
    color: #ffffff;
    padding: 10px 20px;
    opacity: 0;
    transition: .5s all ease .2s;
}
a:hover .btn-fade {
    opacity: 1;
}
.glyphicon-play-circle {
    font-size: 200%;
    vertical-align: middle;
    top: inherit;
    padding: 0;
    margin-right: 10px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-header {background:#555555;}
  .navbar-default {
    background-color: #555555;
    border: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
color: #ffffff;
background-color: #444444;
}
.navbar-default .navbar-nav>li>a {
    color: #f8f8f8;
    font-family: 'Norwester', sans-serif;
    font-size: 24px;
    font-weight: normal;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background:#666666;
}
.navbar-nav {
    padding: 0 15px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a:visited {
    color: #f8f8f8;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #ffffff;
    background:#666666;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: #555555;
}
.navbar-toggle {float:left;margin-left:15px;}
.navbar-brand {
    margin: 0;
    background: url(../images/tld-sig-logo.png) no-repeat center #555555;
    background-size: 175px;
    color: #f8f8f8;
    width: 205px;
}
.navbar-brand,
.navbar-nav li a {
    padding:25px 15px;
    height: 70px;
}
.navbar-nav .open .dropdown-menu {
    background: #444444;
    color: #ffffff;
}
.navbar-nav .open .dropdown-menu li:hover {
    background: #666666;
    color: #ffffff;
}
.navbar-toggle {margin-top:15px;margin-bottom:15px;}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}
.carousel-inner {height: 100%;}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 65px;
    left: 0;
    z-index: 10;
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
  #hmSlider h2 {
    color: #ff2c2c;
    margin: 0;
    font-size: 30px;
    font-family: 'Norwester', sans-serif;
    line-height: 0.9em;
  }
  #hmSlider h1 {
    color: #dddddd;
    margin-bottom: 20px;
    margin-top:5px;
    font-size: 34px;
    font-family: 'Norwester', sans-serif;
    line-height: 0.9em;
  }
  .carousel-caption p {margin:0;}
.carousel-control.right, .carousel-control.left {background-image:none; }
/* Declare heights because of positioning of img element */

.carousel-inner .item {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.carousel-indicators li, .carousel-indicators .active {
    width: 35px;
    height: 15px;
    margin: 0;
    background-color: #dddddd;
    border-radius: 0;
    border: 0;
}
.carousel-indicators .active {background-color: #666666;}
.s1 {
    background: url(../images/home/tld-slide-1.jpg);
}
.s2 {
    background: url(../images/home/tld-slide-2.jpg); 
}
.s3 {
    background: url(../images/home/tld-slide-3.jpg); 
}

/* SHOP THREE SECTION
-------------------------------------------------- */

.shop3 {height:auto;text-align: center;}
.shop3 h3 {font-weight: normal;margin-bottom:0;font-family: 'Norwester', sans-serif;font-size:28px;}
.shop3 div {
    height: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.moto3 span, .bike3 span, .sports3 span {
    width: 100%;
    color: #ffffff;
    padding: 10px 20px;
}
.shop3 p {
    opacity: 0;
    transition: .5s all ease .2s;
    font-size: 16px;
}
.shop3 .moto3:hover p, .shop3 .bike3:hover p, .shop3 .sports3:hover p {
    opacity: 1;
}
.shop3 .moto3 {
    position:relative;
}

.moto3 {
    background: url(../images/home/shop-moto.jpg);
}
.bike3 {
    background: url(../images/home/shop-bike.jpg); 
}
.sports3 {
    background: url(../images/home/shop-sport.jpg);     
}
.moto3:before, .bike3:before, .sports3:before {position:absolute;width: 100%;height:100%;background:rgba(0,0,0,0.25);top:0;left:0;content: "";transition: all .2s ease; }
.moto3:hover:before, .bike3:hover:before, .sports3:hover:before {background: rgba(0,0,0,0.5);
}

/* NEW GEAR HOME 
------------------------- */
#newgear h3 {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 25px 0;
    transform:none;
    -ms-transform: none;
    -webkit-transform: none;
}

/* PRO SETUP HOME 
------------------------- */
.pro {height:auto;}
.moto {
    background: url(../images/home/pro-setup-jessy.jpg);
}
.bike {
    background: url(../images/home/pro-setup-kj.jpg); 
}
.pro-setup {
    min-height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.pro-items {height:calc(100% - 70px);text-align: center;}
.pro-row {
   text-align:center;
   background:#f8f8f8;
   padding:15px;
   height:33.333%;
}
.pro-row img {
    max-width: 150px;
    max-height: 150px;
}
.pro-row .col-xs-6 {
    position:relative;
}
.pro-row div {background: #ffffff;height: 100%;}
.pro-name {
    background: #555555;
    height: 70px;
    padding: 20px 0;
    font-size: 20px;
    font-family: "helveticaneue-light", sans-serif;
    color: #f8f8f8;
}
.pro-name:before{
    content: "\e252";
    font-family: "Glyphicons Halflings";
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 30px;
    margin-left: -15px;
    line-height: 0.5;
    color: #f8f8f8;
}
.pro-name strong {
    font-family: helvetica, sans-serif;
    font-weight: 500;
}

/* Products
------------------------- */
.dk-gray {background: #444444;color:#dddddd;padding:70px 0;}
#size {text-align: center;}
#size span {position:relative;}
#size span h4 {
    margin: 10px 0;
    color: #dddddd;
    font-family: "HelveticaNeue-Light", helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
}
#size .table-bordered {
    border: 1px solid #444444;
    color: #dddddd;
    margin-bottom:0;
    text-align: left;
}
#size .table-bordered>tbody>tr>td, #size .table-bordered>tbody>tr>th, #size .table-bordered>tfoot>tr>td, #size .table-bordered>tfoot>tr>th, #size .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #555555;
}
#size .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #555555;
}
#size .table-hover>tbody>tr:hover {
    background-color: #888888;
}
#size .table-responsive {
    border: none;
    background: #666666;
    padding:0;
  }
#size .table-bordered tfoot td {font-size:12px;}

/* FLEXBOX
------------------------- */




/* Featurettes
------------------------- */

.no-gutter {
    padding: 0;
    margin: 0;
}
.shdw {text-shadow: 2px 2px 0 rgba(0,0,0,0.75);}
.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.center{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
.navbar-nav {
    padding: 0;
}
  .navbar>.container-fluid .navbar-brand, .navbar>.container-fluid .navbar-brand {    
    margin: 0;
    background: url(../images/tld-full-logo.png) no-repeat center #555555;
    background-size:219px;
    color: #f8f8f8;
    width:250px;}
  .navbar .container-fluid {padding:0;}
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-links {width: calc(100% - 530px);}
  .navbar-links li {width:25%;text-align: center;}
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #666;
}
  .navbar-icons {width:280px;}
  .navbar-icons li {
    width: 70px;
    height: 70px;
    background: #555555;
    color: #f8f8f8;}
  .navbar-icons li:hover {
    color: #ffffff;
    background-color: #666;
}
  .navbar-icons span {
    font-size: 24px;
    padding: 16px 22px;
  }
  .navbar-right {margin-right: 0;}
 .navbar-nav .dropdown-menu li {
    margin: 0;
    height: auto;
    width: 100%;
    text-align: left;
}
.navbar-nav > li > .dropdown-menu {width:100%;background:#444444;}
.navbar-nav > li > .dropdown-menu li {color:#ffffff;}
.navbar-nav > li > .dropdown-menu li a {padding: 15px;height: auto;color: #f8f8f8;}
.navbar-nav > li > .dropdown-menu li a:hover {background:#555555;color: #ffffff;}

/* Full width dropdown
.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; }
.dropdown-menu>li { display: table-cell; }
*/

  /* Bump up size of carousel content */
  .land-wrap {height:calc(100% - 70px);min-height: 600px;}
  .carousel {
    height: 70%;
  }
  #hmSlider h2 {
    font-size: 34px;
  }
  #hmSlider h1 {
    font-size: 56px;
  }
.shop3 {height:30%;}
.shop3 div {height: 50%;}
#newgear img {
    padding: 70px 0;
}
.pro {height:600px;}
.pro-setup {height: 100%;}
.moto {
    background-position-x: -600px;
}
.bike {
    background-position-x: -200px;
}

}
@media (min-width: 992px) {
  #hmSlider h2 {
    margin-bottom: 5px;
    font-size: 42px;
  }
  #hmSlider h1 {
    font-size: 80px;
  }

  .carousel-caption {    
    text-align: left;
    right: 20%;
    left: 20%;
    bottom: 20px; 
}
.shop3 div {height: 100%;}
.moto {
    background-position-x: center;
}
.bike {
    background-position-x: center;
}
#newgear h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    margin: 0 15px;
}
#newgear .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#size .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#size {text-align: left;}
#size span {
    position:absolute;
    border-right: 1px #666666 solid;
    padding: 50px 50px 50px 0;
    margin-right: 25px;
}
#size span h4, {margin:10px 0 0;}
}