@font-face {
  font-family: 'BlenderProBook';
  src: url('../fonts/blenderpro-book-webfont.eot');
  src: url('../fonts/blenderpro-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/blenderpro-book-webfont.woff') format('woff'), url('../fonts/blenderpro-book-webfont.ttf') format('ttf') ;
}
@font-face {
  font-family: 'BlenderProBold';
  src: url('../fonts/blenderpro-bold-webfont.eot');
  src: url('../fonts/blenderpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/blenderpro-bold-webfont.woff') format('woff') ;
}
@font-face {
  font-family: 'Norwester';
  src: url('../fonts/norwester-webfont.eot');
  src: url('../fonts/norwester-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/norwester-webfont.woff') format('woff'), url('../fonts/norwester-webfont.woff2') format('woff2'), url('../fonts/norwester-webfont.ttf') format('ttf'), url('../fonts/norwester-webfont.svg') format('svg') ;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html, body {height:100%;}
body {
  color: #666666;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.btn {border-radius: 0;}
.btn.focus, .btn:focus, .btn:hover {
    color: #ffffff;
    text-decoration: none;
    background: #666666;
    border: 1px solid transparent;
}
.btn-default, .btn-default:visited {
    color: #ffffff;
    background-color: #555555;
    border-color: #555555;
    transition: ease-in-out all .2s;
}
.btn-default:hover, .btn-default:focus {
    background-color: #777777;
    border-color: #777777;
}
.btn-default:active {
    background-color: #444444;
    border-color: #444444;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: #444444;
    border-color: #444444;
    color:#ffffff;
}
.btn-primary, .btn-primary:visited {
    background-color: #ff2c2c;
    border-color: #ff2c2c;
    font-size: 14px;
    font-weight:600;
    padding: 15px 35px;
    text-transform: uppercase;
    transition: ease-in-out all .2s;
}
.btn-primary:hover {background-color: #ff5858;border-color:#ff5858;text-shadow: 2px 2px 0px #de1e1e;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {background-color: #de1e1e;border-color:#de1e1e;}
.btn-lg {
    padding: 17px 40px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 0;
}
.btn-fade {
    width: 100%;
    background: #ff2c2c;
    color: #ffffff;
    padding: 10px 20px;
    opacity: 0;
    transition: .5s all ease .2s;
}
.btn-arw:hover, .btn-arw.taphover.hover {padding: 17px 50px 17px 40px;}
.btn-arw:after, .btn-arw.taphover.hover:after {
  font-family: 'Glyphicons Halflings';
    position: absolute;
  margin-left: -1em;
  opacity: 0;
  font-size: 18px;
  line-height: 1em;
  content: "\e258";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-arw:hover:after, .btn-arw.taphover.hover:after {
    margin-left: 10px;
    opacity: 1;
}

a:hover .btn-fade. a.taphover.hover .btn-fade {
    opacity: 1;
}
.glyphicon-play-circle {
    font-size: 200%;
    vertical-align: middle;
    top: inherit;
    padding: 0;
    margin-right: 10px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-header {background:#efefef;}
  .navbar-default {
    background-color: #efefef;
    border: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
color: #777777;
background-color: #dddddd;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:visited {
    color: #777777;
    font-family: 'BlenderProBook', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #777777;
    background:#dddddd;
}
.navbar-nav {
    padding: 0 15px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a:visited {
    color: #777777;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #777777;
    background:#efefef;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #efefef;
    background: #efefef;
}
.navbar-toggle {float:left;margin-left:15px;}
.navbar-brand {
    margin: 0;
    background: url(../images/tld-sig-logo.png) no-repeat center #efefef;
    background-size: 175px;
    color: #777777;
    width: 205px;
}
.navbar-brand,
.navbar-nav li a {
    padding:25px 15px;
    height: 70px;
}
.navbar-nav .open .dropdown-menu {
    background: #dddddd;
    color: #777777;
    border-radius: 0;
    border: 1px solid #efefef;
    border-bottom: 10px solid #efefef;
}

.navbar-toggle {margin-top:15px;margin-bottom:15px;}

/* FOOTER
-------------------------------------------------- */

.promo {
    background: #ff2c2c;
    text-align: center;
    color: #ffffff;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    font-style: italic;
  }
.subfoot {
    height:40px;
    background:#efefef;
    color:#777777;
    line-height: 40px;
    font-size: 9px;
  }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}
.carousel-inner {height: 100%;}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 65px;
    left: 0;
    z-index: 10;
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
  #hmSlider h2 {
    color: #ff2c2c;
    margin: 0;
    font-size: 30px;
    font-family: 'Norwester', sans-serif;
    line-height: 0.9em;
  }
  #hmSlider h1 {
    color: #dddddd;
    margin-bottom: 20px;
    margin-top:5px;
    font-size: 34px;
    font-family: 'Norwester', sans-serif;
    line-height: 0.9em;
  }
  .carousel-caption p {margin:0;}
.carousel-control.right, .carousel-control.left {background-image:none; }
/* Declare heights because of positioning of img element */

.carousel-inner .item {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.carousel-indicators li, .carousel-indicators .active {
    width: 35px;
    height: 15px;
    margin: 0;
    background-color: #dddddd;
    border-radius: 0;
    border: 0;
}
.carousel-indicators .active {background-color: #666666;}
.s1 {
    background: url(../images/home/tld-slide-1.jpg);
}
.s2 {
    background: url(../images/home/tld-slide-2.jpg); 
}
.s3 {
    background: url(../images/home/tld-slide-3.jpg); 
}

/* SHOP THREE SECTION
-------------------------------------------------- */

.threeup {height:auto;text-align: center;}
.threeup h3 {font-weight: normal;margin-bottom:0;font-family: 'BlenderProBold', sans-serif;font-size:28px;}
.threeup div {
    height: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.three-left span, .three-center span, .three-right span {
    width: 100%;
    color: #ffffff;
    padding: 10px 20px;
}
.threeup p {
    opacity: 0;
    transition: .5s all ease .2s;
    font-size: 16px;
}
.threeup .three-left:hover p, .threeup .three-center:hover p, .threeup .three-right:hover p {
    opacity: 1;
}
.threeup .three-left {
    position:relative;
}

.three-left {
    background: url(../images/home/shop-moto.jpg);
}
.three-center {
    background: url(../images/home/shop-bike.jpg); 
}
.three-right {
    background: url(../images/home/shop-sport.jpg);     
}
.three-left:before, .three-center:before, .three-right:before {position:absolute;width: 100%;height:100%;background:rgba(0,0,0,0.25);top:0;left:0;content: "";transition: all .2s ease; }
.three-left:hover:before, .three-center:hover:before, .three-right:hover:before {background: rgba(0,0,0,0.5);
}

/* NEW GEAR HOME 
------------------------- */
#newgear h3 {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 25px 0;
    transform:none;
    -ms-transform: none;
    -webkit-transform: none;
}

/* PRO SETUP HOME 
------------------------- */
.pro {height:auto;}
.moto {
    background: url(../images/home/pro-setup-jessy.jpg);
}
.bike {
    background: url(../images/home/pro-setup-kj.jpg); 
}
.pro-setup {
    min-height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.pro-items {height:calc(100% - 70px);text-align: center;}
.pro-row {
   text-align:center;
   background:#f8f8f8;
   padding:15px;
   height:33.333%;
}
.pro-row img {
    max-width: 150px;
    max-height: 150px;
}
.pro-row .col-xs-6 {
    position:relative;
}
.pro-row div {background: #ffffff;height: 100%;}
.pro-name {
    background: #dddddd;
    height: 70px;
    padding: 20px 0;
    font-size: 20px;
    font-family: "helveticaneue-light", sans-serif;
    color: #666666;
}
.pro-name:before{
    content: "\e252";
    font-family: "Glyphicons Halflings";
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 30px;
    margin-left: -15px;
    line-height: 0.5;
    color: #f8f8f8;
}
.pro-name strong {
    font-family: helvetica, sans-serif;
    font-weight: 500;
}

/* HOME NEWS
------------------------- */
#news a:hover, #news a.taphover.hover {color:#ff2c2c;}
/* Products
------------------------- */
#size {text-align: center;}
#size span {position:relative;}
#size .table-bordered {
    border: 1px solid #dddddd;
    color: #666666;
    margin-bottom:0;
    text-align: left;
}
#size .table-bordered>tbody>tr>td, #size .table-bordered>tbody>tr>th, #size .table-bordered>tfoot>tr>td, #size .table-bordered>tfoot>tr>th, #size .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #dddddd;
}
#size .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
#size .table-hover>tbody>tr:hover {
    background-color: #aaaaaa;
    color:#ffffff;
}
#size .table-responsive {
    border: none;
    background: #efefef;
    padding:0;
  }
#size .table-bordered tfoot td {font-size:12px;}
#size span.glyphicon {
font-size: 24px;
margin-right: 20px;
color: #ffffff;
}

/* FLEXBOX
------------------------- */




/* Featurettes
------------------------- */

.dk-gray {background: #444444;color:#dddddd;padding:70px 0;}
.lt-gray {background: #dddddd;padding:70px 0;}
.no-gutter {
    padding: 0;
    margin: 0;
}
.shdw {text-shadow: 2px 2px 0 rgba(0,0,0,0.75);}
.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.center{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
/******************************
 VIDEO MODAL
*******************************/

.modal-header {padding: 0 15px;border-bottom: 1px solid #666;}
.modal-title {padding: 15px 0;margin: 0;}
.modal-content {border-radius: 0;background: #212121;border: none;color:#cccccc;}
.modal-body{padding:15px;}
.modal-footer {border-top: 1px solid #666666;}
.TLDlax .modal-body img {width: 100%;}
iframe {border: none;}
.close {
    float: right;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
    color: #666;
    text-shadow: none;
    opacity: 1;
}
.close:hover, .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
.navbar-nav {
    padding: 0;
}
  .navbar>.container-fluid .navbar-brand, .navbar>.container-fluid .navbar-brand {    
    margin: 0;
    background: url(../images/tld-full-logo.png) no-repeat center #efefef;
    background-size:219px;
    color: #777777;
    width:250px;}
  .navbar .container-fluid {padding:0;}
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-links {width: calc(100% - 530px);}
  .navbar-links li {width:25%;text-align: center;}
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #777777;
    background-color: #dddddd;
}
  .navbar-icons {width:280px;}
  .navbar-icons li {
    width: 70px;
    height: 70px;
    background: #efefef;
    color: #777777;}
  .navbar-icons li:hover {
    color: #777777;
    background-color: #efefef;
}
  .navbar-icons span {
    font-size: 24px;
    padding: 16px 22px;
  }
  .navbar-right {margin-right: 0;}
 .navbar-nav .dropdown-menu li {
    margin: 0;
    height: auto;
    width: 100%;
    text-align: left;
}
.navbar-nav > li > .dropdown-menu {width:100%;}

.navbar-nav > li > .dropdown-menu li a {padding: 15px;height: auto;}
.navbar-nav > li > .dropdown-menu li a:hover {background:#555555;color: #efefef;}

/* Full width dropdown
.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; }
.dropdown-menu>li { display: table-cell; }
*/

  /* Bump up size of carousel content */
  .land-wrap {height:calc(100% - 70px);min-height: 600px;}
  .carousel {
    height: 70%;
  }
  #hmSlider h2 {
    font-size: 34px;
  }
  #hmSlider h1 {
    font-size: 56px;
  }
.threeup {height:30%;}
.threeup div {height: 50%;}
#newgear img {
    padding: 70px 0;
}
.pro {height:600px;}
.pro-setup {height: 100%;}
.moto {
    background-position-x: -600px;
}
.bike {
    background-position-x: -200px;
}
.promo {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  #hmSlider h2 {
    margin-bottom: 5px;
    font-size: 42px;
  }
  #hmSlider h1 {
    font-size: 80px;
  }

  .carousel-caption {    
    text-align: left;
    right: 20%;
    left: 20%;
    bottom: 20px; 
}
.threeup div {height: 100%;}
.moto {
    background-position-x: center;
}
.bike {
    background-position-x: center;
}
#newgear h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    margin: 0 15px;
}
#newgear .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#size .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#size {text-align: left;}
#size span {
    position:absolute;
    border-right: 1px #cccccc solid;
    padding: 50px 50px 50px 0;
}
#size span h4, {margin:10px 0 0;}
}